button[data-disabled='true'] {
  cursor: default;
  opacity: 0.5;
}

.embla-slide {
  min-width: 0;
}
.embla-slide:nth-child(1) {
  flex: 0 0 60%;
}
.embla-slide:nth-child(2) {
  flex: 0 0 40%;
}
.embla-slide:nth-child(3) {
  flex: 0 0 30%;
}
.embla-slide:nth-child(4) {
  flex: 0 0 90%;
}
.embla-slide:nth-child(5) {
  flex: 0 0 35%;
}
.embla-slide:nth-child(6) {
  flex: 0 0 55%;
}
.embla-slide:nth-child(7) {
  flex: 0 0 85%;
}
.embla-slide:nth-child(8) {
  flex: 0 0 46%;
}
.embla-slide:nth-child(9) {
  flex: 0 0 30%;
}
